

body {
  margin: 0;
  padding: 0;
  font: normal 18px/1.5 "Montserrat", helvetica, arial, sans-serif;
}

.header{
  position: relative;
  text-decoration: none;
  font-size: 40px;
  color: #8c4089;
}
.version {
  position: relative;
  text-decoration: none;
  font-size: 13px;
  color: #000;
  left: 2%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
 .bm-burger-bars {
  background: #373a47;
} 

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
 .bm-cross {
  background: #bdc3c7;
} 

/* General sidebar styles */
.bm-menu {
  background: lightseagreen;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow-y: hidden!important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
.myTable {
  position: absolute;
  left: 20%;
  top: 10%;
}
 .ReactTable {
  position: absolute!important;
  top: 5%;
  width: 90%;
  left: 10%;
} 
.rt-td {
  text-align: center;
  align-self: center;
}

.bm-item-list a {
  display: flex;
  margin-top: 10%;  
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
  font-weight: bold;

}
.ReactTable .-pagination .-btn {
  background: #ee6e73!important;
}

/* buttton styles */
.btn {
  position: relative;
  display: block;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  cursor: pointer;
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}
.btn.red {
  background-color: #e74c3c;
}
.btn.add {
  position: absolute!important;
  width: 180px;
  text-decoration: none;  
  top:3%!important;
  left: 80%;
  
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}

/* REGISTER FORM */

.login-form {
  width: 100%;
  padding: 2em;
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  left: 40%;
  top: 4%!important; 

}
.login-form:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #35c3c1, #00d6b7);
}
@media screen and (min-width: 600px) {
  .login-form {
    width: 50vw;
    max-width: 15em;
  }
}

.flex-row {
  display: flex;
  margin-bottom: 1em;
}
.form-header {
  position: relative;
  display: flex;
  left: 20%;
}
.lf--label {
  width: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f6f8;
  margin-bottom: 1%;
}

.lf--input {
  flex: 1;
  padding: 1em;
  border: 0;
  color: #8f8f8f;
  font-size: 1rem;
  width: 14.87em;
}
.form-error {
  color: red;
  font-style: italic;
}
.btn-container {
  display: flex;
}
.clear-values {
  left: 20%;
}
.lf--input:focus {
  outline: none;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lf--submit {
  display: block;
  padding: 1em;
  width: 100%;
  background: linear-gradient(to right, #35c3c1, #00d6b7);
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: .75em;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.lf--submit:focus {
  outline: none;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lf--forgot {
  margin-top: 1em;
  color: #00d6b7;
  font-size: .65em;
  text-align: center;
}

::-webkit-input-placeholder {
  color: #8f8f8f;
}

:-ms-input-placeholder {
  color: #8f8f8f;
}

::-ms-input-placeholder {
  color: #8f8f8f;
}

::placeholder {
  color: #8f8f8f;
}



